// USER VARIABLES SECTION
$accent: #2500f9; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #616368; // Text Color
$headingcolor: #242f51;
$lineheight: 1.7; // Document Line Height
$userfont: "Poppins", sans-serif; // User Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import "node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "node_modules/bootstrap/scss/mixins/_breakpoints.scss";

// FONTS LOAD SECTION

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furl) format("ttf");
  }
}
